// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header img {
    float: left;
    margin-top: 0.5em;
    margin-right: 1em;
};